includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
        - routes
    level: 2
    tmpDir: storage/framework/cache/phpstan
    parallel:
        maximumNumberOfProcesses: 1
