@theme {
    --color-primary: rgb(8, 65, 23);
    --color-primary-light: rgb(40, 120, 60);
    --color-accent: #fdff00;

    --color-lemon-green-deep: rgb(8, 65, 23);
    --color-lemon-yellow: #fdff00;
}

/* Dark mode overrides */
.dark {
    --color-primary: rgb(40, 140, 70);
}
