@import 'tailwindcss';
@import 'preline/variants.css';
@source "../../node_modules/preline/dist/*.js";

@theme inline {
    --font-sans: 'Raleway', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@import './themes/theme.css';

@layer base {
    a {
        @apply text-lemon-yellow transition-opacity hover:opacity-80;
    }
}

input[type='text'],
input[type='email'],
select,
textarea {
    @apply border border-primary ring-1 ring-primary;
}
